:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
  --grey: #FAFAFA;
}

/* styles for webex-solveme */
.webex-incorrect,
.webex-radiogroup label.webex-incorrect{
    border: 2px dotted var(--pink);
    background-color: #edaddd;
    border-radius: 0.25em;
}
.webex-correct,
.webex-radiogroup label.webex-correct {
    border: 2px solid var(--green);
    background-color: #c0edc2;
    border-radius: 0.25em;
}
/* styles for hidden solutions */
.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
    margin-bottom: 10px;
}
.webex-solution.open {
    height: auto;
    border: 2px solid var(--grey);
    border-radius: 5px;
}
.webex-solution button {
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--grey);
    /*color: white;*/
    padding: 0 0.5em;
}
.webex-solution pre.sourceCode {
    border-color: var(--green);
}

.webex-radiogroup label {
  margin-left: 2em;
  text-indent: -1em;
  padding-left: 0.5em;
  font-weight: 400;
  display: block;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 0.25em;
}

.webex-radiogroup label input {
  position: relative;
  left: -1em;
}
